.productPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .navigation {
        display: flex;
        align-items: center;
        width: 90%;
        height: 60px;
        margin-top: 20px;
        position: sticky;
        top: 0;
        z-index: 10;

        .navigationWrapper {
            display: flex;
            width: 100%;
            height: 100%;
            background-color: #fff;

            .navigationBtn {
                border: none;
                background: none;
                padding: 0 15px;
                font-size: 14px;

                &.active {
                    color: #358CF7;
                    border-bottom: 2px solid #358CF7;
                }
            }
        }
    }

    .observeSection {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-top: 50px;
        scroll-margin-top: 70px;
    }

    .topLayout {
        display: flex;
        flex-direction: column;
        width: 90%;

        .title {
            width: 100%;
            font-size: 22px;
            margin: 50px 0 20px 0;
        }

        .rightColumn {

            .productMeta {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin: 25px 0;
                width: 100%;


                .productCode {
                    font-size: 12px;
                    color: #999;
                }

                .inStock {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    font-size: 15px;
                    letter-spacing: .3px;
                    font-weight: 600;

                    .badgeCheck {
                        fill: rgb(115, 214, 115);
                        color: #F6F9FF;
                    }

                    .badgeX {
                        fill: rgb(213, 56, 56);
                        color: #F6F9FF;
                    }
                }
            }

            .specsSection {
                width: 100%;

                .sectionsBox {
                    // max-height: 290px;
                    // overflow: hidden;
                    // position: relative;
                    // transition: all .5s;

                    // &::after {
                    //     background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), #fff);
                    //     bottom: 0;
                    //     content: "";
                    //     height: 140px;
                    //     left: 0;
                    //     pointer-events: none;
                    //     position: absolute;
                    //     transition: all .3s;
                    //     width: 100%;
                    // }

                    .section {
                        display: flex;
                        flex-direction: column;

                        .sectionTitle {
                            font-size: 16px;
                            padding: 24px 0 15px 0;
                        }

                        .sectionAttributes {
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            row-gap: 8px;

                            .attributeTitle,
                            .attributeValue {
                                background-color: #f3f3f3;
                                line-height: 22px;
                                font-size: 13px;
                                padding: 10px;
                            }

                            .attributeTitle:nth-of-type(2n),
                            .attributeValue:nth-of-type(2n) {
                                background-color: white;
                            }
                        }

                    }
                }

                .showMoreBtn {
                    color: #358CF7;
                    border: none;
                    background: none;
                }



            }
        }
    }

    .descriptionSection {

        .descriptionContent {
            width: 100%;

            .description {
                font-size: 15px;
                line-height: 2;
                margin-top: 20px;
            }

            .descriptionImg {
                width: 100%;
                height: auto;
            }

            .titleDescription {
                font-size: 18px;
            }
        }
    }
}

@media(min-width: 768px) {
    .productPage {

        .navigation {
            width: 100%;
            padding: 0 5%;
            background-color: #F6F9FF;
            margin: 0;

            .navigationWrapper {
                border-bottom: 1px solid #eee;
                background-color: #fff;
                width: 100%;
            }
        }

        .topLayout {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
                "slider title"
                "slider meta"
                "slider price"
                "slider specs";
            width: 100%;
            padding: 0 5% 20px 5%;
            background-color: #F6F9FF;

            .title {
                margin: 0;
                grid-area: title;
                padding: 20px 20px 0 20px;
                background-color: #fff;

            }

            .slider {
                grid-area: slider;
                border-right: 1px solid #eee;
                background-color: #fff;

                .sliderWrapper {
                    position: sticky;
                    top: 100px;
                    padding: 20px;
                }
            }

            .rightColumn {
                padding: 20px;
                background-color: #fff;


                .productMeta {
                    flex-direction: row;
                    padding-bottom: 20px;
                    width: 100%;
                    margin: 0;
                    position: relative;

                    &::after {
                        content: "";
                        height: 1px;
                        background-color: #eee;
                        position: absolute;
                        bottom: 0;
                        right: -20px;
                        left: -20px;
                    }
                }

                .specsSection {}
            }

        }
    }
}

@media (min-width: 1024px) {
    .productPage {
        .navigation {
            .navigationWrapper {
                .navigationBtn {
                    font-size: 16px;
                    letter-spacing: .3px;
                    cursor: pointer;
                }
            }
        }

        .observeSection {
            .titleDescription {
                font-size: 24px;
                letter-spacing: .5px;
            }
        }

        .topLayout {
            .title {
                font-size: 25px;
                letter-spacing: .5px;
            }

            .rightColumn {
                .productMeta {

                    .productCode {
                        font-size: 14px;
                    }

                    .inStock {
                        font-size: 16px;
                        letter-spacing: 0.5px;
                    }
                }

                .specsSection {
                    .sectionsBox {
                        .section {
                            .sectionTitle {
                                font-size: 17px;
                            }

                            .sectionAttributes {

                                .attributeTitle,
                                .attributeValue {
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .descriptionSection {
            flex-direction: row;

            .descriptionContent {
                width: 70%;
                padding: 0 20px;
            }
        }
    }
}