.header-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #F6F9FF;
    padding: 20px 0 10px;

    .container {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        width: 90%;
        height: 100%;
        position: relative;

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;

            .logo-link {
                display: flex;
                justify-content: center;
                width: 100%;

                .logo-link-img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .menu {
            display: none;
        }

        .phones {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            .phones-list {
                display: flex;
                flex-direction: column;
                width: 100%;

                .phones-list-item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    list-style: none;
                    height: 30px;

                    .phone-link {
                        all: unset;
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        cursor: pointer;
                        color: #358CF7;
                        font-size: calc(100% - 3px);
                        font-weight: 500;

                        .icon {
                            width: 20px;
                            height: 20px;
                        }

                    }
                }
            }
        }

        .contacts {
            display: flex;
            height: 100%;
            position: relative;
        }
    }
}




@media (min-width: 768px) {
    .header-top {
        .container {
            grid-template-columns: 1fr 2fr 1fr 0.5fr;

            .logo {
                width: 80%;
            }

            .menu {
                display: flex;
                align-items: center;

                .menu-list {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    flex-direction: column;
                    color: #212229;
                    gap: 5px;

                    .menu-list-item {
                        list-style: none;
                        font-size: 16px;
                        color: #212229;
                    }
                }
            }

            .phones {
                .phones-list {
                    .phones-list-item {
                        .phone-link {
                            color: #212229;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) {

    .header-top {
        height: 100px;

        .container {
            grid-template-columns: 0.5fr 2.5fr 1.5fr 0.7fr;

            .logo {
                width: 100%;
            }

            .menu {

                .menu-list {
                    flex-direction: row;
                    justify-content: space-evenly;

                    .menu-list-item {
                        cursor: pointer;
                    }
                }
            }

            .phones {

                .phones-list {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    height: 100%;
                }
            }

            .contacts {
                display: grid;
                grid-template-rows: repeat(2, 1fr);
            }
        }
    }
}

@media(hover:hover) {

    .header-top {

        .container {

            .menu {
                .menu-list{
                    .menu-list-item:hover{
                        color: #358CF7;
                        transition: 0.3s;
                    }
                }
            }

            .phones {
                .phones-list {
                    .phones-list-item {
                        .phone-link:hover {
                            color: #358CF7;
                            transition: 0.3s;
                        }
                    }
                }
            }
        }
    }
}