    .header-btn-contact {
        all: unset;
        box-sizing: border-box;
        position: absolute;
        right: 0;
        padding: 10px;
        margin-top: 4px;
        border: 1px solid rgba(53, 140, 247, 0.5);
        border-radius: 8px;
        font-size: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 42px;
        height: 42px;

        .contact-phone {
            width: 16px;
            height: 16px;
        }
    }

    .dropdown-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        width: 230px;
        height: 141px;
        border: 1px solid rgba(0, 0, 0, .15);
        background-color: #fff;
        position: absolute;
        right: 0;
        border-color: #eaeaea;
        box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.05);
        padding: 14px 0;
        top: 48px;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        z-index: 100;
    }

    .dropdown-menu-item {
        display: flex;
        justify-content: left;
        align-items: center;
        list-style: none;
        height: 30px;

        .contact-link {
            all: unset;
            display: flex;
            padding: 8px 24px;
            align-items: center;
            gap: 6px;
            cursor: pointer;
            color: #358CF7;
            font-size: calc(100% - 1px);

            .contact-link-img {
                width: 20px;
                height: 20px;
            }
        }
    }

    .active {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }