.purchaseSection {
    display: flex;
    width: 100%;
    margin-top: 50px;
    flex-direction: column;
    border-radius: 14px;
    background-color: #F6F9FF;
    padding: 30px;
    position: relative;
}

@media (min-width: 768px) {
    .purchaseSection {
        margin-top: 20px;

        &::after {
            content: "";
            height: 1px;
            background-color: #eee;
            position: absolute;
            bottom: -20px;
            right: -20px;
            left: -20px;
        }
    }
}

@media (min-width: 1024px) {
    .purchaseSection {
        flex-direction: row;
        align-items: center;
        padding: 40px 30px;
    }
}