.floatPurchaseCard {
    display: none;

    &.active {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        border-radius: 4px;
        height: 80px;
        background-color: #fff;
        position: fixed;
        bottom: 0;
        box-shadow: 0 -2px 13px 0 hsla(0, 0%, 56%, .5);
        z-index: 20;
        padding: 10px 20px;
        bottom: 10px;
    }
}

@media(min-width: 1024px) {
    .floatPurchaseCard {
            display: none !important;
    }
}