.footer {
    display: grid;
    grid-template-areas:
        "footer-logo footer-socials"
        "footer-nav footer-nav"
        "footer-contacts footer-contacts";
    grid-template-columns: 1fr 1fr;
    width: 100%;
    background-color: #19212D;
    margin-top: 40px;
    padding: 24px 16px 50px 16px;
    position: relative;

    .footer-logo {
        grid-area: footer-logo;
        display: flex;
        align-items: center;
        justify-content: left;
        height: 55px;

        .footer-logo-container {
            display: flex;
            place-items: center;
            height: 80%;

            .footer-logo-img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .footer-socials {
        grid-area: footer-socials;
        display: flex;
        width: 100%;
        height: 55px;

        .footer-socials-list {
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: space-evenly;
            gap: 16px;

            .footer-socials-item {
                display: flex;
                width: 28px;
                height: 28px;

                .footer-socials-link {
                    display: flex;
                    width: 100%;
                    width: 100%;
                    list-style: none;

                    .footer-socials-img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }

    .footer-nav {
        grid-area: footer-nav;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px 16px;
        width: 100%;
        margin-top: 24px;

        .footer-nav-section {
            display: flex;
            flex-direction: column;

            .footer-nav-section-title {
                font-size: 16px;
                color: #FFFFFF;
                font-weight: 500;
            }

            .footer-nav-list {
                list-style: none;
                margin-top: 12px;

                .footer-nav-item {
                    font-size: 14px;
                    font-weight: 100;
                    color: #FFFFFFD9;
                    margin-bottom: 8px;
                    cursor: pointer;
                }
            }
        }
    }

    .footer-contacts {
        grid-area: footer-contacts;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px 16px;
        width: 100%;
        margin: 24px 0 24px 0;

        .footer-contacts-section {
            display: flex;
            flex-direction: column;

            .footer-contacts-section-title {
                font-size: 16px;
                color: #FFFFFF;
                font-weight: 500;
            }

            .footer-contacts-list {
                list-style: none;
                margin-top: 12px;

                .footer-contacts-item {
                    font-size: 14px;
                    font-weight: 100;
                    color: #FFFFFFD9;
                    margin-bottom: 8px;
                }
            }

            .footer-schedule {
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin-top: 12px;

                .footer-schedule-row {
                    display: flex;
                    flex-direction: column;

                    .footer-schedule-date {
                        font-size: 14px;
                        font-weight: 100;
                        color: #FFFFFFD9;
                    }

                    .footer-schedule-time {
                        font-size: 13px;
                        font-weight: 100;
                        color: #FFFFFFD9;
                    }
                }
            }
        }
    }
}


@media (min-width: 768px) {
    .footer {
        padding: 60px;
        grid-template-areas:
            "footer-logo footer-nav"
            "footer-contacts footer-nav "
            "footer-socials footer-socials";
        grid-template-columns: 1fr 2fr;

        .footer-socials {
            position: absolute;
            width: 30%;
            bottom: 0;
            right: 0;
        }

        .footer-nav {
            grid-template-columns: repeat(4, 1fr);

            .footer-nav-section {

                .footer-nav-section-title {
                    font-size: calc(6px + 1vw);
                }

                .footer-nav-list {

                    .footer-nav-item {
                        font-size: calc(3px + 1vw);
                    }
                }
            }
        }

        .footer-contacts {
            grid-template-rows: 1fr 1fr;
            grid-template-columns: none;

            .footer-contacts-section {

                .footer-contacts-section-title {
                    font-size: calc(6px + 1vw);
                }

                .footer-contacts-list {
                    .footer-contacts-item {
                        font-size: calc(3px + 1vw);
                    }
                }

                .footer-schedule {
                    .footer-schedule-row {

                        .footer-schedule-date {
                            font-size: calc(3px + 1vw);
                        }

                        .footer-schedule-time {
                            font-size: calc(3px + 1vw);
                        }
                    }
                }
            }
        }
    }
}

@media (hover:hover) {

    .footer {
        .footer-nav {
            .footer-nav-section {
                .footer-nav-list {
                    .footer-nav-item:hover {
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
}