.favoriteBtn {
    display: flex;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    position: absolute;
    top: 35px;
    right: 35px;
    cursor: pointer;

    .heartPlus {
        color: #787D88;

    }

    .heartX {
        color: #fc7a5d;
    }
}

.category {
    width: 25px;
    height: 25px;
    top: 5%;
    right: 5%;
    z-index: 2;
}

.cart {
    position: static;
}

@media (min-width: 1024px) {
    .favoriteBtn {
        top: 10px;
    }
}