* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

h1,
h2,
h3 {
    font-family: 'Inter Display', sans-serif;
}

.observe-section {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 50px;
    scroll-margin-top: 70px;
}