.subscription {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 250px;
    margin-top: 40px;
    background-color: #F6F9FF;

    .subscription-title {
        font-size: 22px;
        font-weight: 500;
        color: #212229;
        margin-top: 24px;
    }

    .subscription-subtitle {
        font-size: 14px;
        font-weight: 400;
        color: #787D88;
        margin-top: 8px;
    }

    .subscription-form {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-top: 24px;
        gap: 16px;

        .subscription-form-email {
            display: flex;
            box-sizing: border-box;
            width: 100%;
            height: 48px;
            font-size: 14px;
            border: 1px solid #777A81;
            border-radius: 6px;

            &::placeholder {
                color: #787D88;
                padding-left: 5px;
            }
        }

        .subscription-form-btn {
            all: unset;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 50px;
            color: #ffffff;
            background-color: #358CF7;
            padding: 12px 20px;
            font-weight: 700;
            font-size: 16px;
            border: 1px solid #EAEAEA;
            line-height: 1.3333333;
            border-radius: 6px;
            margin-bottom: 0;
            cursor: pointer;
        }
    }
}


@media (min-width: 768px) {
    .subscription {
        height: 350px;
        justify-content: center;

        .subscription-title {
            font-size: 32px;
        }

        .subscription-subtitle {
            font-size: 18px;
        }

        .subscription-form {
            max-width: 650px;
            flex-direction: row;
            gap: 0;
            position: relative;
            border: 10px solid #ffffff;
            border-radius: 12px;

            .subscription-form-email {
                border-radius: 0;
                border: none;
            }

            .subscription-form-btn {
                position: absolute;
                right: 0;
                width: 130px;
            }
        }
    }

}